.foreacastsection{
    width: 90vw;
    font-size: large;


}
.hourtrack{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
 
}
.progressbar{
width: 70%;

}
.acc{

}